  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@book.errors.count, "error") %> prevented
        this book from being saved:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= book_form.label :title %>
  <%= book_form.text_field :title %>
  <br>

  <%= book_form.label :publisher %>
  <%= book_form.text_field :publisher %>
  <br>

  <%= book_form.label :year %>
  <%= book_form.number_field :year %>
  <br>

  <%= book_form.label :pages %>
  <%= book_form.number_field :pages %>
  <br>

  <%= book_form.label :list_price %>
  <%= book_form.number_field :list_price, step: 0.01 %>
  <br>

  <%= book_form.submit %>
