<section>
<div class="container">
<div class="searchbox">
  <%= form_with url: books_path, local: true, method: :get do %>
  <%= label_tag "title_search" %>
  <%= text_field_tag "title_search", nil, maxlength: 10 %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <%= link_to "Reset", books_path, class: "btn btn-dark" %>
  <% end %> 
</div>

  <table class="table">
    <thead>
      <tr>
        <th>Title
        <th>Publisher
        <th>Release year
        <th>Pages
        <th>Price
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'book', collection: @books %>
    </tbody>
  </table>
  <br>
  <% if user_signed_in? && current_user.admin %>
    <%= link_to "Create new book", new_book_path, class: "btn btn-secondary" %>
  <% end %>
  </div>
</section>
