<section>
<div class="container">
<div class="searchbox">
  <%= form_with url: books_path, local: true, method: :get do %>
  <%= label_tag "title_search" %>
  <%= text_field_tag "title_search", nil, maxlength: 10 %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <%= link_to "Reset", books_path, class: "btn btn-dark" %>
  <% end %> 
</div>

  <table class="table">
    <thead>
      <tr>
        <th>Title
        <th>Publisher
        <th>Release year
        <th>Pages
        <th>Price
      </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book_path(book) %>
        <td><%= book.publisher %>
        <td><%= book.year %>
        <td><%= book.pages %>
        <td><%= number_to_currency(book.list_price) %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to "Create new book", new_book_path, class: "btn btn-secondary" %>
  </div>
</section>
