<section>
<div class="container">
  <h1>Details for <%= @book.title %></h1>
  <dl>
  <dt>Publisher</dt>
  <dd><%= @book.publisher %></dd>
  <dt>Year</dt>
  <dd><%= @book.year %></dd>
  <dt>Pages</dt>
  <dd><%= @book.pages %></dd>
  <dt>Price</dt>
  <dd><%= number_to_currency(@book.list_price) %></dd>
  </dl> 
  <br>

  <%= link_to "Edit book", edit_book_path(@book), class: "btn btn-info" %>
  <%= button_to "Delete book", book_path(@book), method: :delete, class: "btn btn-warning" %>
<div>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Rating</th>
          <th>Review</th>
        </tr>
      </thead>
      <tbody>
  <%= render collection: @reviews, partial: 'reviews/review' || "No reviews yet" %>
      </tbody>
    </table>
  </div>
  <%= link_to "Back to index", books_path, class: "btn btn-primary" %>
</section>
