<%= form_with [@book,@review], method: :post, local: true do |f| %>
  <div class="field">
    <%= f.label :stars, "Stars" %>
    <%= f.number_field :stars, :in => 1..5 %>
  </div>
  <div class="field">
    <%= f.label :description, "Description" %>
    <%= f.text_field :description %>
  </div>
  <br>
  <%= f.submit "Submit review" %>
  <br>
<% end %>

<%= link_to 'Back to book details', book_path(@book) %>
